
<header class="header-container">
    <div class="header-navbar">

        <div class="logo">
            <a href="/">
            <img src="images1/logo9.png" alt="logo">
            </a>
        </div>
        
        
        <nav class="navbar-container">
            <ul class="navbar-menu">
                <li class="navbar-item dropdown">
                    <a href="/about" class="navbar-link">About</a>
                    <!-- <ul class="dropdown-menu">
                        <li><a href="#">Team</a></li>
                        <li><a href="#">History</a></li>
                    </ul> -->
                </li>

                <li class="navbar-item dropdown">
                    <a href="#" class="navbar-link">Practice Areas <span class="dropdown-icon">&#9662;</span></a>
                    <!-- <div class="dropdown-mega-menu">
                    <div class="dropdown-section">
                        <h4>PRACTICE AREAS</h4>
                        <ul>
                            <li>
                                <a href="#">
                                <div class="menu-item">
                                    <div class="placeholder-img"></div>
                                    Construction Accidents
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <div class="menu-item">
                                    <div class="placeholder-img"></div>
                                    Workers Compensation
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <div class="menu-item">
                                    <div class="placeholder-img"></div>
                                    Premises Liability
                                </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="dropdown-section">
                        <h4>ABOUT OUR PRACTICE AREAS</h4>
                        <ul>
                            <li>
                                <a href="#">
                                <div class="menu-item">
                                    <div class="placeholder-img"></div>
                                    Car Accidents
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <div class="menu-item">
                                    <div class="placeholder-img"></div>
                                    Brain Injury
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <div class="menu-item">
                                    <div class="placeholder-img"></div>
                                    Product Liability
                                </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="dropdown-section">
                        <h4>OTHER CASES WE HANDLE</h4>
                        <ul>
                            <li>
                                <a href="#">
                                <div class="menu-item">
                                    <div class="placeholder-img"></div>
                                    Birth Injury
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <div class="menu-item">
                                    <div class="placeholder-img"></div>
                                    Wrongful Death
                                </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </div> -->
                </li>

                <li class="navbar-item"><a href="/resources" class="navbar-link">Resources</a></li>

                <li class="navbar-item dropdown">
                    <a href="/articles" class="navbar-link">Articles/Posts  </a>
                    <!-- <ul class="dropdown-menu">
                    <li><a href="#">Testimonials</a></li>
                    </ul> -->
                </li>

                <li class="navbar-item dropdown">
                    <a href="/faq" class="navbar-link">FAQ  </a>
                    <!-- <ul class="dropdown-menu">
                    <li><a href="#">Head Office</a></li>
                    </ul> -->
                </li>

                <li class="navbar-item"><a href="/contact" class="navbar-link">Contact</a></li>

            </ul>
        </nav>

        <a href="mailto:contact@kamalkaur.com">contact@kamalkaur.com</a>

    </div>
</header>