
<header class="header-container">
    <div class="header-navbar">

        <div class="logo">
            <a href="/">
            <img src="images1/logo9.png" alt="logo">
            </a>
        </div>
        
        
        <nav class="navbar-container">
            <ul class="navbar-menu">
                <li class="navbar-item dropdown">
                    <a href="/about" class="navbar-link">About</a>
                    <!-- <ul class="dropdown-menu">
                        <li><a href="#">Team</a></li>
                        <li><a href="#">History</a></li>
                    </ul> -->
                </li>

                <li class="navbar-item-sub dropdown-sub">
                    <a href="#" class="navbar-link-sub">Practice Areas <span class="dropdown-icon-sub">&#9662;</span></a>
                   
                    <div class="dropdown-mega-menu-sub">
                        <div class="dropdown-section-sub">
                            <!-- <h4>PRACTICE AREAS</h4> -->
                            <div class="mega-item-sub">
                                <img src="https://picsum.photos/40?random=1" alt="Accident 1">
                                <a href="#">Construction Accidents</a>
                            </div>
                             <div class="mega-item-sub">
                                <img src="https://picsum.photos/40?random=2" alt="Accident 2">
                                <a href="#">Workers Compensation</a>
                            </div>
                            <div class="mega-item-sub">
                                <img src="https://picsum.photos/40?random=3" alt="Accident 3">
                                <a href="#">Premises Liability</a>
                            </div>
                            <div class="mega-item-sub">
                                <img src="https://picsum.photos/40?random=4" alt="Accident 4">
                                <a href="#">Work Accidents</a>
                            </div>
                            <div class="mega-item-sub">
                                <img src="https://picsum.photos/40?random=5" alt="Accident 5">
                                <a href="#">Car Accidents</a>
                            </div>
                            <div class="mega-item-sub">
                                <img src="https://picsum.photos/40?random=6" alt="Accident 6">
                                <a href="#">Brain Injury</a>
                            </div>
                            <div class="mega-item-sub">
                                <img src="https://picsum.photos/40?random=7" alt="Accident 7">
                                <a href="#">Medical Malpractice</a>
                            </div>
                            <div class="mega-item-sub">
                                <img src="https://picsum.photos/40?random=8" alt="Accident 8">
                                <a href="#">Truck Accidents</a>
                            </div>
                            <div class="mega-item-sub">
                                <img src="https://picsum.photos/40?random=9" alt="Accident 9">
                                <a href="#">Birth Injury</a>
                            </div>
                            <div class="mega-item-sub">
                                <img src="https://picsum.photos/40?random=10" alt="Accident 10">
                                <a href="#">Wrongful Death</a>
                            </div>
                            <div class="mega-item-sub">
                                <img src="https://picsum.photos/40?random=11" alt="Accident 11">
                                <a href="#">Product Liability</a>
                            </div>
                            <div class="mega-item-sub">
                                <img src="https://picsum.photos/40?random=12" alt="Accident 12">
                                <a href="#">Slip and Fall</a>
                            </div>

                        </div>
                    </div>
                </li>

                <li class="navbar-item-sub dropdown-sub">
                    <a href="#" class="navbar-link-sub">Resources <span class="dropdown-icon-sub">&#9662;</span></a>
                   
                    <div class="dropdown-mega-menu-sub">
                        <div class="dropdown-section-container-sub">
                            <div class="dropdown-section-resources-sub">
                                <h4>For Lawyers</h4>
                                <div class="mega-item-sub">
                                    <img src="https://picsum.photos/40?random=3" alt="Accident 3">
                                    <a href="#">Valuation Guide for Lawyers</a>
                                </div>
                                <div class="mega-item-sub">
                                    <img src="https://picsum.photos/40?random=4" alt="Accident 4">
                                    <a href="#">Case Laws</a>
                                </div>
                                <div class="mega-item-sub">
                                    <img src="https://picsum.photos/40?random=5" alt="Accident 5">
                                    <a href="#">Recent News</a>
                                </div>
                            </div>

                            <div class="dropdown-section-resources-sub">
                                <h4>For Business Valuators</h4>
                                <div class="mega-item-sub">
                                    <img src="https://picsum.photos/40?random=3" alt="Accident 3">
                                    <a href="#">Case Studies</a>
                                </div>
                                <div class="mega-item-sub">
                                    <img src="https://picsum.photos/40?random=4" alt="Accident 4">
                                    <a href="#">Recent News</a>
                                </div>
                                <div class="mega-item-sub">
                                    <img src="https://picsum.photos/40?random=5" alt="Accident 5">
                                    <a href="#">Case Laws</a>
                                </div>
                            </div>

                            <div class="dropdown-section-resources-sub">
                                <h4>For Business Owners</h4>
                                <div class="mega-item-sub">
                                    <img src="https://picsum.photos/40?random=3" alt="Accident 3">
                                    <a href="#">Questions for a CBV</a>
                                </div>
                                <div class="mega-item-sub">
                                    <img src="https://picsum.photos/40?random=4" alt="Accident 4">
                                    <a href="#">Data & Stats</a>
                                </div>
                                <div class="mega-item-sub">
                                    <img src="https://picsum.photos/40?random=5" alt="Accident 5">
                                    <a href="#">Valuation Guides</a>
                                </div>
                            </div>
                     
                        </div>
                    </div>
                </li>
                
                <li class="navbar-item dropdown">
                    <a href="/articles" class="navbar-link">Articles/Posts  </a>
                    <!-- <ul class="dropdown-menu">
                    <li><a href="#">Testimonials</a></li>
                    </ul> -->
                </li>

                <li class="navbar-item dropdown">
                    <a href="/faq" class="navbar-link">FAQ  </a>
                    <!-- <ul class="dropdown-menu">
                    <li><a href="#">Head Office</a></li>
                    </ul> -->
                </li>

                <li class="navbar-item"><a href="/contact" class="navbar-link">Contact</a></li>

            </ul>
        </nav>

        <a href="mailto:contact@kamalkaur.com">contact@kamalkaur.com</a>

    </div>
</header>