<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
    <title><%= pageTitle %></title>
</head>
    <body>
        <%- include('../../partials/navbar-sub') %>  <!-- Correct path -->

        <section class="article-dummy-container1">
            <section class="article-top-section1">

                <div class="article-top-image-wrapper">
                    <img src="/images2/article-top-img2.jpg" alt="article banner Image">                </div>

                    <div class="about-heading">
                        <div class="about-content">
                            <h2>A business valuator's prospective on various topics</h2>
                        </div>  
                    </div>
                </div>
            </section>
        <section>

        <section class="article-dummy-container2"> 
            <h2>Articles Posted</h2>
            <div class="article-middle1-container">

            <!-- box 1 -->

                <div class="article-box">
                    <div class="atticle-image-box">
                        <div class="article-image-wrapper">
                            <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_in-my-article-below-i-am-discussing-the-activity-7193366483853275137-LpL2?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                                <img src="/images2/article-img6.jpg" alt="Researching Case Law">
                            </a> 
                         </div>
                         <div class="article-image-box-text">
                            <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_in-my-article-below-i-am-discussing-the-activity-7193366483853275137-LpL2?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                                <p>Family Law Case - Valuator's Prospective</p>
                            </a>
                         </div>
                    </div>
                 
                    <div class="article-box-content">
                        <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_in-my-article-below-i-am-discussing-the-activity-7193366483853275137-LpL2?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                            <h2 class="article-title">Discussion of Family Law Case “BV Case#1” from a Business Valuator's Perspective</h2>
                            <p class="article-details">May 6, 2024</p>
                            <p class="article-description">There can be significant differences in valuations between the two Experts' conclusions due to the various valuation issues, as discussed in this article.</p>
                            <!-- <a href="#" class="button">More Info / Buy</a> -->
                        </a>
                    </div>
                </div>

            <!-- box 2 -->
        
                <div class="article-box">
                    <div class="atticle-image-box">
                        <div class="article-image-wrapper">
                            <a target="_blank" href="https://www.linkedin.com/pulse/calculation-valuation-report-literal-definition-vs-kamalpreet-ang2c">
                                <img src="/images2/article-img1.jpg" alt="Researching Case Law">
                            </a> 
                         </div>
                         <div class="article-image-box-text">
                            <a target="_blank" href="https://www.linkedin.com/pulse/calculation-valuation-report-literal-definition-vs-kamalpreet-ang2c">
                                <p>Calculation Report Type</p>
                            </a>
                         </div>
                    </div>
                 
                    <div class="article-box-content">
                        <a target="_blank" href="https://www.linkedin.com/pulse/calculation-valuation-report-literal-definition-vs-kamalpreet-ang2c">
                            <h2 class="article-title">Calculation Valuation Report - Literal Definition vs. Industry Norm</h2>
                            <p class="article-details"> April 21, 2024 </p>
                            <p class="article-description">My attempt to explain to the readers what is the difference between the three levels of reports, specifically about the Calculation Valuation Report.</p>
                            <!-- <a href="#" class="button">More Info / Buy</a> -->
                        </a>
                    </div>
                </div>

            <!-- box 3 -->

                <div class="article-box">
                    <div class="atticle-image-box">
                        <div class="article-image-wrapper">
                            <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_attribution-of-corporate-losses-for-determining-activity-7182478346176327681-Kwny?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                                <img src="/images2/article-img7.jpg" alt="Researching Case Law">
                            </a> 
                         </div>
                         <div class="article-image-box-text">
                            <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_attribution-of-corporate-losses-for-determining-activity-7182478346176327681-Kwny?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                                <p>Family Law Case - Attribution of corporate losses</p>
                            </a>
                         </div>
                    </div>
                 
                    <div class="article-box-content">
                        <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_attribution-of-corporate-losses-for-determining-activity-7182478346176327681-Kwny?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                            <h2 class="article-title"> Attribution of corporate losses for determining spousal and child support obligations
                            </h2>
                            <p class="article-details">April 1, 2024</p>
                            <p class="article-description">Cibuku v Cibuku, 2024 ONSC 1283 is an interesting case where the court allowed the attribution of corporate losses to the Husband's income.</p>
                            <!-- <a href="#" class="button">More Info / Buy</a> -->
                        </a>
                    </div>
                </div>

            <!-- box 4 -->

                <div class="article-box">
                    <div class="atticle-image-box">
                        <div class="article-image-wrapper">
                            <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_q-what-are-joint-engagements-in-family-law-activity-7188727789167022081-n62F?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                                <img src="/images2/article-img2.jpg" alt="Researching Case Law">
                            </a> 
                         </div>
                         <div class="article-image-box-text">
                            <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_q-what-are-joint-engagements-in-family-law-activity-7188727789167022081-n62F?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                                <p>Joint Engagements in Family Law</p>
                            </a>
                         </div>
                    </div>
                 
                    <div class="article-box-content">
                        <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_q-what-are-joint-engagements-in-family-law-activity-7188727789167022081-n62F?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                            <h2 class="article-title">What are Joint Engagements in Family Law?
                            </h2>
                            <p class="article-details">April 1, 2024</p>
                            <p class="article-description">Joint engagements are like a Laundry Basket when separating spouses decide to do the tedious work of sorting the laundry together.</p>
                            <!-- <a href="#" class="button">More Info / Buy</a> -->
                        </a>
                    </div>
                </div>

            <!-- box 5 -->
<!-- 
                <div class="article-box">
                    <div class="atticle-image-box">
                        <div class="article-image-wrapper">
                            <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_in-my-article-below-i-am-discussing-the-activity-7193366483853275137-LpL2?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                                <img src="/images2/article-img6.jpg" alt="Researching Case Law">
                            </a> 
                         </div>
                         <div class="article-image-box-text">
                            <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_in-my-article-below-i-am-discussing-the-activity-7193366483853275137-LpL2?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                                <p>Family Law Case - Valuator's Prospective</p>
                            </a>
                         </div>
                    </div>
                 
                    <div class="article-box-content">
                        <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_in-my-article-below-i-am-discussing-the-activity-7193366483853275137-LpL2?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                            <h2 class="article-title">Discussion of Family Law Case “BV Case#1” from a Business Valuator's Perspective</h2>
                            <p class="article-details">May 6, 2024</p>
                            <p class="article-description">There can be significant differences in valuations between the two Experts' conclusions due to the various valuation issues, as discussed in this article.</p>
                        </a>
                    </div>
                </div> -->

            <!-- box 6 -->
<!-- 
                <div class="article-box">
                    <div class="atticle-image-box">
                        <div class="article-image-wrapper">
                            <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_in-my-article-below-i-am-discussing-the-activity-7193366483853275137-LpL2?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                                <img src="/images2/article-img6.jpg" alt="Researching Case Law">
                            </a> 
                         </div>
                         <div class="article-image-box-text">
                            <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_in-my-article-below-i-am-discussing-the-activity-7193366483853275137-LpL2?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                                <p>Family Law Case - Valuator's Prospective</p>
                            </a>
                         </div>
                    </div>
                 
                    <div class="article-box-content">
                        <a target="_blank" href="https://www.linkedin.com/posts/kamalpreet-kaur_in-my-article-below-i-am-discussing-the-activity-7193366483853275137-LpL2?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAShBvkBHY3dZop0vv2UHY4SWrwUDsQC8WY">
                            <h2 class="article-title">Discussion of Family Law Case “BV Case#1” from a Business Valuator's Perspective</h2>
                            <p class="article-details">May 6, 2024</p>
                            <p class="article-description">There can be significant differences in valuations between the two Experts' conclusions due to the various valuation issues, as discussed in this article.</p>
                        </a>
                    </div>
                </div> -->


            </div>
        </section>    

      
       

        <%- include('../../partials/footer') %>  <!-- Correct path -->
     
        <script src="script-faq.js"></script>

    </body>
</html>
